<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mytest.dao.CatMapper">

    <insert id="insertCat" parameterType="com.test.mytest.bean.Cat">
        insert into an_cat
        (catID,name)
        values
        (#{catID},#{name})
    </insert>

    <select id="searchCat" parameterType="com.test.mytest.bean.Cat" resultType="com.test.mytest.bean.Cat">
        select * from an_cat where catID  = #{catID}
    </select>

    <delete id="deleteCat" parameterType="com.test.mytest.bean.Cat" >
        delete * from an_cat where catID = #{catID}
    </delete>
</mapper>